*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-style: 'Tilt Neon', cursive;
  --bg-color: #F7F7F7;
  --bg-primary-color: #E36A7D;
  --text-color: #201D1D;
}

.icon,
.main__title,
.main__subtitle {
  color: var(--bg-color);
}

.main__subtitle {
  margin-left: 75px;
  font-size: 1.15rem;
}

.main__title {
  margin-top: 20px;
}

.main__box {
  display: flex;
  justify-content: center;
  align-items: center;
  border:10px solid transparent;
  box-shadow: 0 0 10px 0 grey;
  margin: 50px;
  z-index: 99;
  background-color: var(--bg-color);
}

.main {
  background: var(--bg-color);
  background: linear-gradient(-5deg, var(--bg-color) 75%, var(--bg-primary-color) 25%); 
  font-family: var(--ff-style);
  z-index: 1;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 500px;
}

.flex--modified {
  display: flex;
  gap: 20px;
}

.icon {
  font-size: 2rem !important;
  margin-left: 30px;
  margin-top: 25px;
}

.list {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}

.list__items {
  margin-top: 20px;
  line-height: 1.6;
}

.song-streams {
  opacity: 0.4;
}

.song-artist {
  opacity: 0.5;
}

.img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 20px;
}





