*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 2px solid #0E182B;
  width: 900px;
  box-shadow: 0 0 15px 0 #0E182B;
  border-radius: 20px;
}

.box__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.box__text {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.box__input {
  margin-left: 20px;
  width: 50px;
  height: 75px;
}

.box__mail {
  z-index: 1;
  position: relative;
  bottom: 220px;
  left: 35px;
}

.box__confirm {
  background-color: white;
  position:relative;
  z-index: 2;
  right: 100px;
  top: 150px;
}

.flex {
  display: flex;
  justify-content: center;
}



.bg-grey {
  background-color: #F0F1F7;
  border-radius: 20px;
}

.box__number {
  margin: 0 auto;
  width: fit-content;
  font-size: 5rem;
  opacity: 0.4;
  letter-spacing: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.box__text-note {
  width: fit-content;
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.box__link {
  text-decoration: none;
  color: #BEC8EB;
  cursor: pointer;
}

.box__link:hover {
  text-decoration: underline;
  color: rgba(0, 0, 225, 0.4);
}

.box__input::-webkit-outer-spin-button,
.box__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box__input {
  -moz-appearance: textfield;
  font-size: 3rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.box__input:focus,
.box__input:focus-visible {
  border-color: #BEC8EB;
  box-shadow: 0 0 15px 0 #BEC8EB;
}
