*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-accent: rgb(39, 112, 198);
  --font: 'Roboto', sans-serif;
}

.main {
  display: grid;
  grid-template-rows: 100px 1fr;
  font-family: var(--font);
  z-index: 1;
}

.header {
  display: flex;
  margin-top: 1.15em;
  margin-bottom: 2em;
}
hr {
  color:rgba(0, 0, 0, 0.5);
  margin-bottom:1.15em;
}

.main-title {
  font-size: 1.5rem;
  text-align: center;
}

.menu-icon {
  font-size: 1.15rem;
  margin-left: 1.15rem;
}

.main-content {
  margin-left: 1.15em;
  margin-right: 1.15em;
  line-height: 1.6;
}

.title-paragraph {
  font-style: italic;
}

.title-paragraph::first-letter {
  color:var(--clr-accent);
  font-size: 2rem;
  font-family: 'Great Vibes', cursive;
}

.title-paragraph:last-of-type {
  margin-bottom: 30px;
}

.flex {
  display: flex;
  flex-direction: row;
  gap:1.125em;
}

.expand-icon {
  margin-top: 15px;
}

.material-symbols-outlined {
  cursor:pointer;
}

.material-symbols-outlined:hover,
.material-symbols-outlined:focus {
  color:var(--clr-accent);
}

.popup {
  display: none;
  color:rgba(0, 0, 0, 0.5);
  height: fit-content;
  margin-top: 10px;
}

.menu-open {
  display: none;
  background-color: white;
  width: 100%;
  min-width: 100vw;
  height: fit-content;
  z-index: 2;
}

.menu-links,
.menu-title {
  display: block;
  font-size: 1.7rem;
  line-height: 1.6;
  text-decoration: none;
  margin-left: 10px;
  color:var(--clr-accent);
}

.menu-links:hover,
.menu-title:hover {
  background-color: var(--clr-accent);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.title {
  text-decoration: underline var(--clr-accent);
}

.main-title {
  color: var(--clr-accent);
}


@media ( min-width: 1360px ) {
  .menu-open {
    display: block;
    grid-area: menu-content;
    width: 200px;
    min-width:20vw;
    min-height: 100vh;
    background-color: var(--clr-accent);

  }

  .expand-icon {
    display: none !important;
  }

  .menu-icon {
    display: none !important;
  }

  .menu-links,
  .menu-title {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 30px;
    margin-left: 20px;
  }

  .menu-links:hover,
  .menu-title:hover {
    background-color: rgba(96, 195, 252, 0.61);
    color: rgba(0, 0, 0, 0.5);
  }
  
  .header {
    grid-area: header;
    width: 80%;
    margin-top: 0;
    height: 100px;
    color:black;
  }
  .main-title {
    font-size: 2.5rem;
    margin-left: 500px;
    margin-top: 30px;
  }

  .main-content {
    grid-area: main-content;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
  }

  .main {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 200px 200px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
     'header header header'
     ' menu-content menu-content main-content';
  }
  
}
