*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #F1EADD;
  --clr-text: #3C3C3C;
  --clr-text-light: #8E8C86;
  --clr-accent: #EB6649;
}

.main {
  background-color: white;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 250px;
  height: 250px;
}

.list {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--clr-text-light)
}

.list__links {
  text-decoration: none;
  padding: 10px;
  color: var(--clr-text-light);
  cursor: pointer;
}

.list__links:hover {
  background-color: var(--clr-primary);
}

