*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #F1EADD;
  --clr-text: #3C3C3C;
  --clr-text-light: #8E8C86;
  --clr-accent: #EB6649;
}


.img {
  width: 250px;
  height: 250px;
}

.list {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--clr-text-light)
}

.list__links {
  text-decoration: none;
  padding: 10px;
  color: var(--clr-text-light);
  cursor: pointer;
}

.list__links:hover {
  background-color: var(--clr-primary);
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  border: 2px solid #F0F0F0;
  text-align: center;
  line-height: 1.5;
  width: 255px;
}

.card__title {
  font-size: 1.15rem;
  font-weight: 800;
  color: var(--clr-text);
}

.card__date {
  margin-bottom: 15px;
  color: var(--clr-text-light);
  font-style: italic;
}

