*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7AD9F7;
}

.content__text {
  line-height: 1.6;
  text-align: center;
  padding: 20px;
  color: #8C8C8C;
  font-family: 'Roboto', sans-serif;
  font-size: 1.45rem;
}

.btn {
  background-color: #A2DD51;
  color: #fff;
  font-size: 2rem;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto;
  display: block;
  outline: transparent;
  border-radius: 20px;
  border: transparent;
  box-shadow: 0 0 50px 0 #C9F1CC;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(162, 221, 81, 0.5);
}

.card {
  box-shadow: 0 0 25px 0 rgba(119, 116, 116, 0.295);
  transition: 0.3s;
  width: 600px;
  background-color: #FFFFFF ;
}

.card__center {
  background: linear-gradient(to right, #F4FDFA 70%, #DAFBF1);
}

.card__content {
  padding-bottom: 20px;
}

.icons {
  color: #A3DF53;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
}

.icons:hover {
  color: rgba(162, 221, 81, 0.5);
}

.flex {
  display: flex;
}

.close-icon {
  color: #595F5D;
  margin-top: 20px;
  margin-left: 420px;
}

.close-icon:hover {
  color: rgba(89, 95, 93, 0.5);
}