*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__text {
  line-height: 1.6;
  text-align: center;
  padding: 20px;
}

.btn {
  background-color: #A2DD51;
  color: #fff;
  font-size: 2rem;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto;
  display: block;
  outline: transparent;
  border-radius: 20px;
  border: transparent;
  box-shadow: 0 0 50px 0 #C9F1CC;
}

.card {
  transition: 0.3s;
  width: 400px;
}

.card__content {
  padding-bottom: 20px;
}

.icons {
  color: #A3DF53;
}

.flex {
  display: flex;
  gap: 15px;
}